{{define "/footer"}}

    <script type="text/html" id="curd">
        <a title="编辑" href="javascript:;" lay-event="edit">
            <i class="layui-icon">&#xe642;</i>
        </a>
        <a title="删除" href="javascript:;" lay-event="delete">
            <i class="layui-icon">&#xe640;</i>
        </a>
    </script>
    </body>
    </html>
{{end}}