{{define "/search-form-begin"}}

    <div class="layui-card-body ">
        <form class="layui-form layui-col-space5">

{{end}}

{{define "/search-form-end"}}
    <div class="layui-inline layui-show-xs-block">
        <button class="layui-btn" lay-submit="" lay-filter="search">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </div>
    </form>
    </div>
{{end}}